<link rel="import" href="bower_components/polymer/polymer.html">

<link rel="import" href="bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="bower_components/app-layout/app-grid/app-grid-style.html">
<link rel="import" href="bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="bower_components/app-layout/app-scroll-effects/effects/waterfall.html">

<link rel="import" href="bower_components/paper-card/paper-card.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">

<link rel="import" href="bower_components/paper-search/paper-search-bar.html">
<link rel="import" href="bower_components/paper-search/paper-filter-dialog.html">

<link rel="import" href="my-app-db.html">

<dom-module id="my-app">
  <template>
    <style include="app-grid-style">
    :host app-header { background-color: var(--dark-primary-color); }
    :host app-header div { color: #fff; }

    :host div.app-grid {
      margin: 24px;
      padding: 0;
      --app-grid-columns: 6;
      --app-grid-gutter: 20px;
    }

    :host .book {
      @apply --layout-horizontal;
      height: 200px;
    }
    .book-image img {
      width: 140px;
      height: 200px;
      margin-right: 10px;
    }
    :host .card-content {
      height: 50%;
    }
    :host .book-header {
      @apply --paper-font-headline;
      display: inline;
    }
    :host .book-author { 
      color: var(--secondary-text-color);
      margin: 10px 0;
    }
    :host .card-actions {
      height: 50%;
      position: relative;
    }
    :host .button {
      background-color: var(--primary-color);
      color: #fff;
      position: absolute;
      margin: 10px 0px;
      bottom: 0;
    }

    @media (min-width: 576px) {
      :host div.app-grid {
        --app-grid-columns: 1;
      }
    }
    @media (min-width: 768px) {
      :host div.app-grid {
        --app-grid-columns: 2;
      }
    }
    @media (min-width: 992px) {
      :host div.app-grid {
        --app-grid-columns: 2;
      }
    }
    @media (min-width: 1400px) { 
      :host div.app-grid {
        --app-grid-columns: 3;
      }
    }
    </style>
    <my-app-db id="db"
               initsrc="books.json"
               books="{{books}}"></my-app-db>
    <app-header fixed>
      <app-toolbar>
        <div main-title>BookFinder</div>
        <!-- Selected filters:
	      <span>[[_renderSelectedFilters(selectedFilters)]]</span> -->
        <paper-search-bar query="{{query}}"
                          placeholder="Rechercher un livre..."
                          on-paper-search-search="_search"
                          on-paper-search-filter="_filter"
                          on-paper-search-clear="_reset">
        </paper-search-bar>
        <paper-filter-dialog id="dialog"
                             filters="[[filters]]"
                             selected-filters="{{selectedFilters}}"
                             save-button="Sauvegarder le(s) filtre(s)"
                             on-save="_saveFilter">
        </paper-filter-dialog>
      </app-toolbar>
    </app-header>
    <div class="app-grid">
      <template is="dom-repeat" items="{{books}}">
        <paper-card class="book">
          <div class="book-image">
            <img src="data:{{item.img.content_type}};base64,{{item.img.data}}" alt="">
          </div>
          <div class="book-content">
            <div class="card-content">
              <div class="book-header">{{item.title}}</div>
              <div class="book-author">{{item.author}}</div>
              <div>{{item.price}} €</div>
            </div>
            <div class="card-actions">
              <a href="{{item.url}}">
                <paper-button raised class="button">Acheter</paper-button>
              </a>
            </div>
          </div>
        </paper-card>
      </template>
    </div>
  </template>
  <script>
    const scope = document.querySelector("my-app");
    scope._renderSelectedFilters = function (selectedFilters) {
      return JSON.stringify(selectedFilters);
    };
    scope.selectedFilters = {
      prix: ["cheap", "abordable", "cher"]
    };

    class MyApp extends Polymer.Element{
      static get is(){ return "my-app";}
      static get properties(){
        return {
          books: {
            type: Array,
            notify: true
          },
          query: {
            type: String,
            notify: true,
            observer: "_search"
          }
        }
      }

      _reset() {
        this.$.db._reload_books();
      }

      _filter() {
        this._reset();
        this.$.dialog.open();
        scope.filters = [
          {
            id: "prix",
            name: "Prix (€)",
            values: [{
                id: "cheap",
                name: "0-5"
              },
              {
                id: "abordable",
                name: "5-15"
              },
              {
                id: "cher",
                name: "15+"
              }
            ]
          }
        ];
      }

      _saveFilter() {
        this._search();
      }

      _search() {
        let results = [];
        // if (this.query == '') {
        //   this._reset();
        // }

        let cheap = false;
        let abordable = false;
        let cher = false;
        if (Object.keys(scope.selectedFilters).length != 0) {
          for (let i = 0 ; i < scope.selectedFilters.prix.length ; i++) {
            const filters = scope.selectedFilters.prix[i];
            if (filters.includes("cheap")) {
              cheap = true;
            }
            if (filters.includes("abordable")) {
              abordable = true;
            }
            if (filters.includes("cher")) {
              cher = true;
            }
          }
        }

        this.query = scope.query.toLowerCase();
        for (let i = 0 ; i < this.books.length ; i++) {
          const auteur = this.books[i].author.toLowerCase();
          const titre = this.books[i].title.toLowerCase();
          if (cheap && (this.books[i].price > 0 && this.books[i].price <= 5)) {
            if((auteur.includes(this.query) || titre.includes(this.query))) {
              results.push(this.books[i]);
            }
          }
          else if (abordable && (this.books[i].price > 5 && this.books[i].price <= 15)) {
            if((auteur.includes(this.query) || titre.includes(this.query))) {
              results.push(this.books[i]);
            }
          }
          else if (cher && this.books[i].price > 15) {
            if((auteur.includes(this.query) || titre.includes(this.query))) {
              results.push(this.books[i]);
            }
          }
        }
        this.books = results;
      }
    };
    customElements.define(MyApp.is,MyApp);
  </script>
</dom-module>
