<link rel="import" href="bower_components/polymer/polymer.html">
<script src="bower_components/pouchdb/dist/pouchdb.min.js"></script>

<dom-module id="my-app-db">
  <template>
    <style>
      :host {
        display: none;
      }
    </style>
  </template>
  <script>
    class MyAppDB extends Polymer.Element {
      static get is() { return "my-app-db"; }

      static get properties() {
        return {
          books: {
            type: Array,
            value: [],
            notify: true,
          },
          initsrc: {
            type: String
          },
          name: {
            type: String,
            reflectToAttribute: true,
            notify: true,
            value: "bookfinder"
          },
          db: {
            type: Object,
            notify: true,
            value: null
          },
          databases: {
            type: Array,
            notify: true,
            value: []
          }
        }
      }

      _reload_books() {
        console.log("_reload_books");
        this._load_books();
      }

      _init_db() {
        console.log("_init_db");
        fetch(this.initsrc)
          .then(fichier => fichier.json()
            .then(fichier_encode => this.db.bulkDocs(fichier_encode)
              .then(_ => this._load_books())
            )
          ).catch(_ => {
            console.log("Erreur requête sur le fichier books.json");
            // Si erreur on détruit la database pour éviter d'en avoir une vide
            this.db.destroy().then(function (response) {
              console.log("Database supprimée");
            }).catch(function (err) {
              console.log(err);
            });
          })
      };

      _load_books() {
        console.log("_load_books");
        this.db.allDocs({include_docs:true})
          .then(r => this.books = r.rows.map(b => b.doc));
      };

      _verifier_databases () {
        console.log("_verifier_databases");
        fetch("http://localhost:5984/_all_dbs")
          .then(reponse => reponse.json().then(
            array => this.databases = array)
          )
          .then(_ => {
            if (!this.databases.includes(this.name)) {
              // Crée la database si elle n'existe pas
              const db_url = "http://localhost:5984/" + this.name;
              const db = new PouchDB(db_url);
              db.info().then(_ => {
                this.db = db;
                this._init_db();
              })
            }
            else {
              // Ne recrée pas la database (voir la note ici : https://pouchdb.com/guides/databases.html#remote-databases)
              const db_url = "http://localhost:5984/" + this.name;
              this.db = new PouchDB(db_url);
              this._load_books();
            }
          })
      }

      ready() {
        console.log("ready");
        this._verifier_databases();
        PouchDB.on('created', function (dbName) {
          console.log(dbName + " created");
        });
      };
    }

    customElements.define(MyAppDB.is, MyAppDB);
  </script>
</dom-module>
